.structItemContainer-group--sticky-block 
{
	& .collapseTrigger:before
	{
		content: "\f0d7";
		width: 1.28571429em;
		display: inline-block;
		text-align: center;
	}
	& .collapseTrigger.is-hidden:before
	{
		content: "\f0da";
	}
}

.structItemContainer-group--sticky.is-hidden
{
	display: none;
}