<xf:macro name="normal" global="1">	
	<xf:if is="$stickyThreads is not empty AND $threads is not empty">
		<xf:css src="structured_list.less" />
		<div class="structItemContainer-group structItemContainer-group--normal-block">
			<div class="structItem structItem--thread">
				<div class="structItem-cell structItem-cell--icon"></div>
				<div class="structItem-cell structItem-cell--main">{{ phrase('seperator_normal_threads') }}</div>
			</div>
		</div>
	</xf:if>
</xf:macro>

<xf:macro name="sticky" global="1">
	<xf:if is="$stickyThreads is not empty AND $threads is not empty">
		<xf:css src="structured_list.less" />
		<xf:if is="property('svCollapsibleStickies')">
			<xf:css src="svCollapsibleStickies.less" />
			<xf:js prod="xf/structure.min.js" dev="xf/structure.js" />
			<xf:js src="sv/lib/storage.js" addon="SV/StandardLib" min="1" />
			<xf:set var="$class">collapseTrigger collapseTrigger--block{{ is_toggle_set($forum.node_id, false, 'sticky_node') ? ' is-hidden' : '' }}</xf:set>
			<xf:set var="$rawAttr">
				  data-target=".structItemContainer-group--sticky"
				  data-xf-click="toggle"				  
				  data-xf-init="toggle-storage-ex"
				  data-storage-type="cookie"
				  data-storage-container="sticky_node"
				  data-storage-key="{$forum.node_id}"
				  data-active-class="is-hidden"
				  data-default-value="0"
			</xf:set>
		</xf:if>
		<div class="structItemContainer-group structItemContainer-group--sticky-block">
			<div class="structItem structItem--thread">
				<div class="structItem-cell structItem-cell--icon"></div>
				<div class="structItem-cell structItem-cell--main {$class}" {$rawAttr|raw}>{{ phrase('seperator_sticky_threads') }}</div>
			</div>
		</div>
	</xf:if>
</xf:macro>

<xf:macro name="sticky_group_css" global="1">{{ property('svCollapsibleStickies')
? (is_toggle_set($forum.node_id, false, 'sticky_node') ? ' is-hidden' : '')
: '' }}</xf:macro>